<h1>This is the coach's answer</h1>

<p>What you typed = <%= @question %></p>
<p>What the coach answered = <%= @coach_answer%></p>
<a href=ask>Back to questions</a>
<% link_to "Back to questions", ask_path %>
